.carousel {
  &-team {
    margin-bottom: 106px !important;
  }

  &-inner {
    overflow: hidden;
    border-radius: 12px;
  }

  &-item.active {
    display: flex;
    flex-direction: column;

    @media (min-width: 992px) {
      flex-direction: row;
    }
  }

  &-image {
    overflow: hidden;
    position: relative;
    height: 500px;

    @for $i from 1 through 3 {
      &-#{$i} {
        background-image: url('../../assets/carousel/Team-' + $i + '.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    @media (min-width: 992px) {
      min-width: 400px;
      height: unset;
    }

    img {
      position: absolute;
      z-index: -1;
      top: -45px;
    }
  }

  &-content {
    background-color: $grey-bg;
    padding: 30px;

    h3 {
      margin-bottom: 30px;
      line-height: 1.22;
      font-size: 30px;
      word-wrap: break-word;

      @media (min-width: 576px) {
        font-size: 38px;
      }
    }

    h4 {
      margin-bottom: 6px;
      font-size: 16px;
      line-height: 1.25;
      color: $grey-text;
    }

    p {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 1.6;
      color: $grey-text;
    }
  }

  &-indicators {
    bottom: -68px;

    button {
      background-color: $active-regular !important;
      width: 16px !important;
      height: 16px !important;
      border-radius: 50%;
      opacity: 0.2 !important;
      margin-left: 8px !important;
      margin-right: 8px !important;

      &.active {
        opacity: 1 !important;
      }
    }
  }
}
