.header {
  &__logo {
    @media (min-width: 375px) {
      position: absolute;
      top: 105px;
    }

    @media (min-width: 1024px) {
      position: unset;
    }
  }

  .navbar {
    @media (min-width: 768px) {
      justify-content: flex-start !important;
    }

    @media (min-width: 1024px) {
      justify-content: flex-end !important;
    }
  }

  &__side {
    @media (min-width: 375px) {
      gap: 7.5em !important;
    }

    @media (min-width: 1024px) {
      gap: 0.5em !important;
    }
  }

  &__langs {
    & li {
      width: 33px;
      height: 25px;
      font-size: 12px;
      cursor: pointer;

      &:hover {
        background-color: $grey-text;
      }

      &.active {
        background-color: $accent;
      }
    }
  }

  &__social {
    &:hover {
      color: $accent !important;
    }
  }

  &__controls {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 768px;
    width: 100%;
    padding: 12.5px 15px;

    @media (max-width: 767px) {
      background-color: #f5f5fa33;
    }

    @media (min-width: 768px) {
      position: unset;
      padding: 0;
    }

    & div {
      position: relative;
    }

    & div:not(:last-child)::after {
      @media (min-width: 768px) {
        display: block;
      }

      content: '';
      display: none;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      position: absolute;
      right: -14px;
      top: 34%;
      background-color: $grey-separator;
    }
  }
}

.nav-list {
  @media (max-width: 768px) {
    justify-content: flex-start !important;
  }
  &__item {
    & a {
      &::after {
        content: '';
        display: block;
        width: 0;
        border-bottom: 3px solid #fff;
        transition: width 0.2s ease-in-out;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }

      &:active {
        color: $accent !important;
        &::after {
          content: '';
          display: block;
          width: 100%;
          border-bottom: 3px solid $accent;
        }
      }
    }
  }
}
