.header {
  @media (min-width: 576px) {
    padding-top: 50px;
  }

  @media (min-width: 769px) {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    width: 100%;

    @media (min-width: 769px) {
      width: unset;
    }

    img {
      position: absolute;
      top: 60px;
      width: 19%;

      @media (min-width: 576px) {
        width: 130px;
        top: 105px;
      }

      @media (min-width: 769px) {
        position: static;
      }
    }
  }

  &__lang {
    padding: 5px 8px;
    border-radius: 8px;
    font-size: 0.75em;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }

    &.active {
      background-color: $accent;
    }
  }

  &__controls {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;

    padding: 10px 15px;
    background: rgba(245, 245, 250, 0.2);
    line-height: 1.2;

    @media (min-width: 576px) {
      gap: 19px;
      position: static;
      background: transparent;
      padding: 0;

      & div:not(:last-child) {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          right: -12px;
          top: 50%;
          transform: translateY(-50%);
          display: block;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: $grey-separator;
        }
      }
    }
  }

  &__social {
    & .bi {
      cursor: pointer;
      color: white;

      @media (hover: hover) {
        &:hover {
          color: $accent;
        }
      }
    }
  }
}
