.hero {
  position: relative;
  &__img {
    // heigh of image minus height of header
    height: calc(600px - 89px);

    @media (min-width: 576px) {
      height: calc(1024px - 230px);
    }

    @media (min-width: 769px) {
      height: calc(768px - 120px);
    }

    @media (min-width: 1025px) {
      height: calc(799px - 120px);
    }

    @media (min-width: 1441px) {
      height: calc(1000px - 120px);
    }

    & img {
      position: absolute;
      top: -89px;
      left: -72px;
      z-index: -1;
      // heigh of image plus height of header
      height: calc(100% + 89px);

      @media (min-width: 576px) {
        top: -229px;
        left: -108px;
        height: calc(100% + 230px);
      }

      @media (min-width: 769px) {
        top: -120px;
        left: 50%;
        transform: translateX(-50%);
        height: calc(100% + 120px);
      }
    }
  }

  &__heading {
    font-size: 38px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -82%);

    @media (min-width: 576px) {
      width: 100%;
      top: 37.7%;
    }

    @media (min-width: 769px) {
      top: 43%;
    }

    @media (min-width: 1025px) {
      top: 43.4%;
    }

    @media (min-width: 1441px) {
      top: 44.5%;
    }
  }

  &__scroll {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (min-width: 576px) {
      bottom: 1%;
    }

    @media (min-width: 769px) {
      bottom: 1.4%;
    }
  }

  &__scroll-btn {
    width: 42px;
    height: 42px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    background: transparent;

    @media (hover: hover) {
      &:hover {
        border-color: rgba(240, 20, 90, 0.5);

        & span {
          border-color: $accent;
        }
      }
    }

    & span {
      display: block;
      margin: 0 auto;
      margin-top: -4px;
      width: 13px;
      height: 13px;
      border: 2px solid white;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg);
    }
  }
}
