.hero {
  height: calc(100dvh - 159px);

  &__heading {
    margin-top: 19%;
  }

  &__img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: 1600px) {
      height: 1000px;
    }
  }

  &__scroll {
    width: 42px;
    height: 42px;
    display: block;
    margin: 0 auto;
    margin-top: 21%;
    background: transparent;
    border: 2px solid;
    border-color: rgba($color: #fff, $alpha: 0.5);
    border-radius: 50%;

    @media (hover: hover) {
      &:hover {
        border-color: rgba($color: $accent, $alpha: 0.5);

        span {
          border-color: $accent;
        }
      }
    }

    & span {
      display: block;
      width: 12px;
      border: 2px solid;
      border-color: white;
      height: 12px;
      border-top: none;
      border-left: none;
      transform: rotate(45deg) translate(25%, -50%);
    }
  }
}
