.hero {
  position: relative;
  &__img {
    height: 600px;

    @media (min-width: 576px) {
      height: 1024px;
    }

    @media (min-width: 768px) {
      height: 768px;
    }

    @media (min-width: 1024px) {
      height: 799px;
    }

    @media (min-width: 1440px) {
      height: 1000px;
    }

    & img {
      position: absolute;
      top: -89px;
      left: -72px;
      z-index: -1;
      height: 100%;

      @media (min-width: 576px) {
        top: -229px;
        left: -108px;
      }

      @media (min-width: 768px) {
        top: -119px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__heading {
    font-size: 38px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -115%);

    @media (min-width: 576px) {
      width: 100%;
      top: 30.7%;
    }

    @media (min-width: 768px) {
      top: 38.7%;
    }

    @media (min-width: 1440px) {
      top: 41%;
    }
  }

  &__scroll {
    position: absolute;
    bottom: 16.5%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (min-width: 576px) {
      bottom: 23%;
    }

    @media (min-width: 768px) {
      bottom: 16.5%;
    }

    @media (min-width: 1024px) {
      bottom: 16%;
    }

    @media (min-width: 1440px) {
      bottom: 13%;
    }
  }

  &__scroll-btn {
    width: 42px;
    height: 42px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    background: transparent;

    @media (hover: hover) {
      &:hover {
        border-color: rgba(240, 20, 90, 0.5);

        & span {
          border-color: $accent;
        }
      }
    }

    & span {
      display: block;
      margin: 0 auto;
      margin-top: -4px;
      width: 13px;
      height: 13px;
      border: 2px solid white;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg);
    }
  }
}
