.navbar {
  @media (min-width: 576px) {
    margin-top: 110px !important;
  }

  @media (min-width: 769px) {
    margin-top: 0 !important;
  }
}

.navbar-nav {
  @media (min-width: 769px) {
    justify-content: flex-end !important;
  }
}

.nav-item {
  border-radius: 12px;
  background-color: $grey-bg;

  @media (min-width: 576px) {
    background-color: transparent;

    a {
      color: white;
    }
  }
}

.nav-link {
  color: $active-regular;

  &::after {
    content: '';
    display: block;
    width: 0;
    transition: width 0.2s ease-in-out;
    border-bottom: 3px solid white;
  }

  &:focus {
    color: white !important;
  }

  @media (hover: hover) {
    &:hover {
      color: white !important;
      &::after {
        width: 100%;
      }
    }
  }

  @media (min-width: 576px) {
    padding: 0 !important;
  }
}

.navbar-toggler {
  margin-top: 37px;
  margin-right: 3px;
}
