@import './colors.scss';

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');

body {
  font-family: 'Montserrat', sans-serif;
  background: $gradient-supersoft;
  height: 100vh;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: 576px) {
    max-width: 678px;
  }

  @media (min-width: 768px) {
    max-width: 934px;
  }

  @media (min-width: 1024px) {
    max-width: 1350px;
  }

  @media (min-width: 1440px) {
    max-width: 1630px;
  }
}
