@import './colors.scss';

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');

body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  z-index: -100;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

section {
  margin-bottom: 30px !important;
  padding: 0 30px !important;

  @media (min-width: 576px) {
    margin-bottom: 60px !important;
    padding: 0 15px !important;
  }
}

.bg-gradient-supersoft {
  background: $gradient-supersoft;
  position: relative;
  z-index: -2;
  overflow: hidden;
  border-radius: 0 0 12px 12px;
}

.gradient-red-text {
  background: $gradient-red-text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.homepage-link {
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: $active-regular;

  &::after {
    content: '';
    display: block;
    position: absolute;
    right: -9px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    width: 6px;
    height: 6px;
    border-bottom: 2px solid $active-regular;
    border-right: 2px solid $active-regular;
  }

  @media (hover: hover) {
    &:hover {
      color: $accent;

      &::after {
        border-color: $accent;
      }
    }
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: 576px) {
    max-width: 678px;
  }

  @media (min-width: 769px) {
    max-width: 934px;
  }

  @media (min-width: 1025px) {
    max-width: 1350px;
  }

  @media (min-width: 1441px) {
    max-width: 1630px;
  }
}
